{{#partial "content"}}
    <section class="landing-page">
        <div class="land-left">
        </div>
      <div class="land-right">
        </div>
        <h2> <a class="buttons" href="/hero-form" >Create Your Hero</a> <br><br> Current Heroes</h2>
        <div class="heroes">
            {{#each hero}}
                <div class="hero-item">
                    <img src="/img/super.jpg" alt="Hero"/>
                    <p>Name: {{ name }} </p>
                    <p>Age: {{ age }}</p>
                    <p>Special power: {{ power }}</p>
                    <p>Weakness: {{ weakness }}</p>
                    <p>Id: {{ id }}</p>
                    <a href="new/{{id}}" class="buttons">Hero Stats</a>
                    <a href="/squad" class="buttons">Add {{ name }} To Squad</a>
                </div>

            {{/each}}
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}